USE [master]
GO
/****** Object:  Database [prak15]    Script Date: 17.01.2026 6:11:13 ******/
CREATE DATABASE [prak15]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'prak15', FILENAME = N'D:\WinPrograms\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\prak15.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'prak15_log', FILENAME = N'D:\WinPrograms\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\prak15_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [prak15].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [prak15]
GO
/****** Object:  Table [dbo].[brands$]    Script Date: 17.01.2026 6:11:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands$](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_brands$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories$]    Script Date: 17.01.2026 6:11:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories$](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_categories$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_tags$]    Script Date: 17.01.2026 6:11:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_tags$](
	[product_id] [int] NOT NULL,
	[tag_id] [int] NOT NULL,
 CONSTRAINT [PK_product_tags$] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products$]    Script Date: 17.01.2026 6:11:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products$](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](255) NOT NULL,
	[price] [money] NOT NULL,
	[stock] [int] NOT NULL,
	[rating] [float] NOT NULL,
	[created_at] [date] NOT NULL,
	[category_id] [int] NOT NULL,
	[brand_id] [int] NOT NULL,
 CONSTRAINT [PK_products$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tags$]    Script Date: 17.01.2026 6:11:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tags$](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_tags$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_product_tags$]    Script Date: 17.01.2026 6:11:13 ******/
CREATE NONCLUSTERED INDEX [IX_product_tags$] ON [dbo].[product_tags$]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[product_tags$]  WITH CHECK ADD  CONSTRAINT [FK_product_tags$_products$1] FOREIGN KEY([product_id])
REFERENCES [dbo].[products$] ([id])
GO
ALTER TABLE [dbo].[product_tags$] CHECK CONSTRAINT [FK_product_tags$_products$1]
GO
ALTER TABLE [dbo].[product_tags$]  WITH CHECK ADD  CONSTRAINT [FK_product_tags$_tags$1] FOREIGN KEY([tag_id])
REFERENCES [dbo].[tags$] ([id])
GO
ALTER TABLE [dbo].[product_tags$] CHECK CONSTRAINT [FK_product_tags$_tags$1]
GO
ALTER TABLE [dbo].[products$]  WITH CHECK ADD  CONSTRAINT [FK_products$_brands$] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brands$] ([id])
GO
ALTER TABLE [dbo].[products$] CHECK CONSTRAINT [FK_products$_brands$]
GO
ALTER TABLE [dbo].[products$]  WITH CHECK ADD  CONSTRAINT [FK_products$_categories$] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories$] ([id])
GO
ALTER TABLE [dbo].[products$] CHECK CONSTRAINT [FK_products$_categories$]
GO
USE [master]
GO
